
body {
  background-color: #cbe8f0;

  min-height: 100vh;
}
.keyboard--hidden {
  display: none;
}
.keyboard__container {
   margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(60, 10px);
  grid-template-rows: repeat(5, 40px);
 grid-column-gap: 5px;
 grid-row-gap: 10px;
}


$key-width: 40px;


.keyboard__key {
  box-sizing: border-box;
  // line-height: $key-width;
  font-size: 16px;
  text-align: center;
  color: rgb(70, 69, 69);
  cursor: pointer;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  //background: linear-gradient(top, #f9f9f9 0%, #d2d2d2 80%, #f5ededa8 100%);
  background-color: #f1efef;
  font-family: sans-serif;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
    -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
    &.s-4 {
      grid-column: auto / span 4;
  }
    
    &.s-6 {
      grid-column: auto / span 6;
    }
    &.s-8 {
      grid-column: auto / span 7;
    }
    &.s-10 {
      grid-column: auto / span 9;
    }
    &.s-all {
      grid-column: auto / span 30;
    }
  &:hover,
  &:focus {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
      0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25),
      -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
    transform: translateY(2px);
  }

  &:active {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
      0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
      -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
    transform: translateY(4px);
  }

  &.active{
    background-color: rgb(253, 251, 251);
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
      0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
      -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
    transform: translateY(4px);
  }
}

.textInput{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}